.sidebar {
  padding: 20px 30px;
}

.widget {
  margin-bottom: 3rem;
}

.widget_search {
  .widget-title {
      margin-bottom: 0;
  }
}

.search-form {
  padding: 0;
  background-color: transparent;

  label {
    margin-bottom: 1rem;
  }
}