$white: #ffffff;
$light-grey: #f0f0f0;
$grey: #cccccc;
$mid-grey: #999999;
$dark-grey: #333333;
$black: #000000;

$light-blue: #2B8AFB;
$medium-blue: #2067BB;
$dark-blue: #15447B;
$darkest-blue: #0A213C;

$header-background-color: $dark-blue;
$header-text-color: $white;
$header-border-color: $medium-blue;
$header-links-color: $white;
$header-links-active-color: $light-blue;

$body-bg-color: $white;
$content-bg-color: $white;
$body-color: $black;

$link-color: $medium-blue;
$link-active-color: $medium-blue;
$nav-link-hover-bg: transparent;
$navbar-default-link-color: $header-links-color;
$navbar-default-link-hover-color: $header-links-color;
